@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import './ak-robat-fonts.css';

:root {
    --akrobat: 'Akrobat', sans-serif;
    --rubik  : 'Rubik', sans-serif;
    --white  : #ffffff;
    --black  : #181818;
    --gray   : #C2C2C2;
}

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family   : var(--akrobat);
    font-weight   : 400;
    font-size     : 1.6rem;
    line-height   : 2.4rem;
    letter-spacing: -0.02em;
    color         : var(--black);
}

a,
a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    padding   : 0;
}

button {
    border          : 0;
    background-color: transparent;
    outline         : none;
    cursor: pointer;
}

button:focus,
button:focus-visible {
    box-shadow: none;
    outline   : none;
}

img,
svg {
    vertical-align: middle;
}

/* form */
.input_group {
    position: relative;
}

.input_group:not(:last-child) {
    margin-bottom: 1.6rem;
}

.input_box {
    display         : block;
    width           : 100%;
    padding         : 20px 24px;
    background-color: #f4f4f4;
    font-family     : var(--rubik);
    color           : #545454;
    font-size       : 1.8rem;
    line-height     : 2.2rem;
    font-weight     : 400;
    border          : 0;
    border-radius   : .6rem;
    transition      : all .3s ease-in-out
}

.input_box:hover,
.input_box:focus,
.input_box:focus-visible,
.input_box:active {
    border : 0;
    outline: 0
}

input[type="text-area"] {
    min-height: 20rem;
}

/* owl nav */
.owl-carousel .owl-nav button:not(:last-of-type) {
    margin-right: 1.6rem;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    width        : 5.6rem;
    height       : 5.6rem;
    border-radius: 50%;
    border       : 1px solid #ACACAC;
}

/* owl dots */
.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 7.2rem;
}

.owl-carousel button.owl-dot:not(:last-of-type) {
    margin-right: .8rem;
}

.owl-carousel button.owl-dot {
    width           : 2.2rem;
    height          : 2.2rem;
    background-color: transparent;
    border-radius   : 50%;

    display        : inline-flex;
    justify-content: center;
    align-items    : center;
    transition     : border .5s ease-in-out;
}

.owl-carousel button.owl-dot.active {
    border: 1px solid var(--black);
}

.owl-carousel button.owl-dot span {
    width           : 1.4rem;
    height          : 1.4rem;
    background-color: #D8D8D8;
    border-radius   : 50%;
    transition      : border .5s ease-in-out;
}

.owl-carousel button.owl-dot.active span {
    background-color: var(--black);
}

.owl-dot span {
    display: inline-block;
}

.row {
    display  : flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1400px;
    width    : 100%;
    margin   : 0 auto;
}

.section_header {
    margin-bottom: 8.8rem;
}

.section_title {
    font-weight   : 800;
    font-size     : 6.8rem;
    line-height   : 6.4rem;
    text-transform: uppercase;
}

.section_title span {
    color: var(--gray);
}

.btn {
    font-family   : var(--rubik);
    font-weight   : 600;
    font-size     : 1.6rem;
    line-height   : 1.9rem;
    text-transform: uppercase;
    border-radius : 5rem;
    border        : 2px solid #B0B0B0;
    transition    : all .3s ease-in-out;

    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 2.4rem 4rem;
}

.btn:hover {
    color           : var(--white);
    background-color: var(--black);
    border          : 2px solid var(--black);
}

.btn.black {
    color           : var(--white);
    background-color: var(--black);
    border          : 2px solid var(--black);
}

.btn.black:hover {
    color           : var(--black);
    background-color: var(--white);
    border          : 2px solid var(--gray);
}

.btn img {
    margin-right: 1rem;
    transition  : all .3s ease-in-out;
}

.btn:hover img {
    filter: grayscale(0) invert(1);
}

/* fixed button */
.fixed_button {
    position: fixed;
    right   : 6.25%;
    bottom  : 5vh;
    z-index: 1090;
    text-align: center;
}
.fixed_button>img {
    width: 6.7rem;
}

/* NAV START */
nav {
    padding      : 2.2rem 6.25%;
    border-bottom: 1px solid #D9D9D9;
}

nav .container_fluid {
    display        : flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items    : center;
}

.navbar_wrapper>ul {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
}

.navbar_wrapper li:not(:last-of-type) {
    margin-right: 8rem;
}

.navbar_wrapper .link {
    display       : inline-block;
    position      : relative;
    font-family   : var(--rubik);
    font-weight   : 400;
    font-size     : 1.6rem;
    line-height   : 1.9rem;
    color         : var(--black);
    text-transform: uppercase;
}

/* hero section  */
.hero_section {
    padding: 8.2rem 0;
}

.hero_section .row>* {
    flex     : 0 0 50%;
    max-width: 50%;
}

.hero_section .content_wrapper {
    height         : 100%;
    max-width      : 50.8rem;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;
}

.hero_section .content_wrapper h1 {
    font-weight   : 800;
    font-size     : 8.0rem;
    line-height   : 7.4rem;
    text-transform: uppercase;
    margin-bottom : 4.8rem;
}

.hero_section .content_wrapper h1 span {
    color: var(--gray);
}

.hero_section .image_wrapper {
    height    : 100%;
    text-align: right;
}

.hero_section .image_wrapper img {
    max-width: 60.4rem;
}

/* services sectoin */
.services_section {
    padding: 13.8rem 11.6rem;
}

.services_section.bg {
    background-color: #F8F8F8;
}

.services_section .row {
    margin-top  : -6.6rem;
    margin-left : -1.6rem;
    margin-right: -1.6rem;
}

.services_section .row>* {
    flex         : 0 0 33.33333333%;
    max-width    : 33.33333333%;
    padding-top  : 6.6rem;
    padding-left : 1.6rem;
    padding-right: 1.6rem;
}

.services_section .content_wrapper .icon {
    width        : 10rem;
    height       : 10rem;
    background   : #F1F1F1;
    border-radius: 8px;

    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-bottom  : 1.6rem;
}

.services_section .content_wrapper .icon>img {
    max-width: 5.5rem;
    width    : 100%;
}

.services_section .content_wrapper h4 {
    font-weight: 700;
    font-size  : 3.2rem;
    line-height: 3.4rem;

    max-width: 33.5rem;
}

/* projects sectoin */
.projects_section {
    background: #F8F8F8;
    padding   : 12.5rem 0 10rem;
}

.projects_slider_wrapper,
.projects_section .container {
    position: relative;

}

.projects_section .btn {
    color     : var(--black);
    display   : inline-flex;
    transition: all .5s ease-in-out;

    position: absolute;
    top     : 6rem;
    right   : 0;
}

.projects_section .btn:hover {
    color: var(--white);
}

.projects_slide.owl-carousel .owl-nav {
    position: absolute;
    left    : 37rem;
    bottom  : 42rem;
}

.projects_slide.owl-carousel .owl-item .item_inner {
    height  : 700px;
    overflow: hidden;
}

.projects_slide.owl-carousel .owl-item img {
    width: 120%;
}

.projects_slide.owl-carousel .owl-item img {
    animation-name           : left-right;
    animation-duration       : 3s;
    animation-direction      : alternate;
    animation-iteration-count: infinite;
}

.projects_slide.owl-carousel .content {
    width          : 47.9rem;
    height         : 45.9rem;
    border-radius  : .8rem;
    background     : rgba(255, 255, 255, 0.9);
    border         : 1px solid #DEDEDE;
    box-sizing     : border-box;
    box-shadow     : 8px 8px 80px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(20px);

    position: absolute;
    left    : 4rem;
    bottom  : 4rem;
    z-index : 1;
    padding : 4rem;
}

.projects_slide.owl-carousel span {
    display       : inline-block;
    font-family   : var(--rubik);
    font-weight   : 400;
    font-size     : 1.6rem;
    line-height   : 1.9rem;
    text-transform: uppercase;
}

.projects_slide.owl-carousel h2 {
    font-weight   : 800;
    font-size     : 4.0rem;
    line-height   : 4.2rem;
    text-transform: uppercase;
    margin        : 5.6rem 0 1.6rem;
}

.projects_slide.owl-carousel p {
    font-family  : var(--rubik);
    font-weight  : 300;
    font-size    : 1.8rem;
    line-height  : 2.8rem;
    color        : #1A1A1A;
    padding-right: 2.6rem;
}

.projects_slide.owl-carousel a svg,
.projects_slide.owl-carousel a svg path {
    transition: all .5s ease-in-out;
}

.projects_slide.owl-carousel a {
    display       : inline-block;
    font-family   : var(--rubik);
    font-weight   : 600;
    font-size     : 1.6rem;
    line-height   : 1.9rem;
    color         : var(--black);
    text-transform: uppercase;
    border-bottom : 1px solid #D9D9D9;
    transition    : all .5s ease-in-out;
    padding-bottom: 0.8rem;
    margin-top    : 4rem;
}

.projects_slide.owl-carousel a:hover {
    border-bottom: 1px solid var(--black);
}

.projects_slide.owl-carousel a:hover svg {
    transform: rotate(45deg);
}


@keyframes left-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-250px);
    }
}

/* testmonial section */
.testimonial {
    padding : 12.2rem 0 8.2rem;
    position: relative;
}

.testimonial .card {
    background   : rgba(255, 255, 255, 0.9);
    border       : 1px solid #E1E1E1;
    border-radius: .8rem;
    position     : relative;
    padding      : 8.8rem 4rem 4rem;
}

.testimonial .card h2 {
    font-weight   : 800;
    font-size     : 3.2rem;
    line-height   : 3.8rem;
    text-transform: uppercase;
    max-width     : 33.4rem;
    min-height    : 30rem;
}

.testimonial .card>img {
    position: absolute;
    top     : 1.5rem;
    right   : 2.1rem;
    width   : 9.4rem;
}

.testimonial .card_footer {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;

    border-top : 1px solid #E1E1E1;
    padding-top: 3.2rem;
}

.testimonial .card_footer .thumb {
    flex        : 0 0 5.6rem;
    margin-right: 1.6rem;
}

.testimonial .card_footer .thumb>img {
    width        : 5.6rem;
    height       : 5.6rem;
    border-radius: 50%;
}

.testimonial .card_footer h5,
.testimonial .card_footer p {
    font-family   : var(--rubik);
    font-size     : 1.6rem;
    line-height   : 1.9rem;
    text-transform: uppercase;
}

.testimonial .card_footer h5 {
    font-weight  : 500;
    margin-bottom: .7rem;
}

.testimonial .card_footer p {
    font-weight: 400;
    color      : #898989;
}

.testimonial .owl-carousel .owl-nav {
    position: absolute;
    top     : -15rem;
    right   : 0;
}

/* get started with us right now */
.gswurn .content_wrapper {
    background-color: var(--black);
    color           : var(--white);
    position        : relative;
    border-radius   : 1.6rem;
    padding         : 14.8rem 8rem;
}

.gswurn .inner_content {
    max-width: 52.5rem;
}

.gswurn .content_wrapper h1 {
    margin-bottom: 4rem;
}

.gswurn .content_wrapper .btn {
    color: var(--white);
}

.gswurn .content_wrapper .btn:hover {
    background-color: var(--white);
    color           : var(--black);
}

.gswurn .content_wrapper img.canva,
.gswurn .content_wrapper img.round,
.gswurn .content_wrapper img.blob {
    position: absolute;
}

.gswurn .content_wrapper img.round {
    top  : 10.5rem;
    right: 46.4rem;
}

.gswurn .content_wrapper img.blob {
    top  : 7.8rem;
    right: 4.9rem;
}

.gswurn .content_wrapper img.canva {
    right                    : 2.6rem;
    bottom                   : -2.6rem;
    max-width                : 66rem;
    /* transform             : rotate(0); */
    animation-name           : rotate-4;
    animation-duration       : 2.5s;
    animation-direction      : alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes rotate-4 {
    0% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(-4deg);
    }
}

/* our cool projects */
.col_proj_section {
    padding: 13.8rem 0;
}

.col_proj_section .row {
    margin-left : -1.2rem;
    margin-right: -1.2rem;
}

.col_proj_section .row>* {
    flex         : 0 0 50%;
    max-width    : 50%;
    padding-left : 1.2rem;
    padding-right: 1.2rem;
}

.col_proj_section .content_wrapper {
    border-radius: 1.6rem;
    overflow     : hidden;
    position     : relative;
}

.col_proj_section .inner_content {
    max-width: 39.3rem;
    position : absolute;
    left     : 5.6rem;
    bottom   : 5.3rem;
    color    : var(--white);
}

.col_proj_section .inner_content h2 {
    font-weight  : 800;
    font-size    : 4.0rem;
    line-height  : 4.2rem;
    color        : inherit;
    margin-bottom: 4rem;
}

.col_proj_section .inner_content a {
    font-family   : var(--rubik);
    font-weight   : 600;
    font-size     : 1.6rem;
    line-height   : 1.9rem;
    text-transform: uppercase;
    color         : #797979;
    border-bottom : 1px solid #797979;
    transition    : all .5s ease-in-out;
    padding-bottom: .8rem;
}

.col_proj_section .inner_content a:hover {
    color        : var(--white);
    border-bottom: 1px solid var(--white);
}

.col_proj_section .inner_content a svg,
.col_proj_section .inner_content a svg path {
    transition: all .5s ease-in-out;
}

.col_proj_section .inner_content a:hover svg {
    transform: rotate(45deg);
}

.col_proj_section .inner_content a:hover svg path {
    fill: var(--white);
}

/* footer start */
.footer {
    background-color: var(--bg-color);
    border-top      : 1px solid #E1E1E1;
    padding         : 16px 0;
    margin-top      : 12rem;
}

.footer_content {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

/* .footer_logo img {
    width: 15rem;
} */

.contact_info_wrapper ul,
.contact_info_wrapper li {
    display    : flex;
    align-items: center;
}

.contact_info_wrapper li:not(:last-child) {
    margin-right: 41px;
}

.contact_info_wrapper img {
    max-width   : 13px;
    height      : auto;
    margin-right: 11px;
}

.contact_info_wrapper p {
    font-family: var(--rubik);
    font-size  : 16px;
    line-height: 24px;
    color      : #949494;
}

.social_Icons_wrapper {
    display    : flex;
    align-items: center;
}

.social_Icons_wrapper a {
    display      : inline-block;
    max-width    : 3.2rem;
    max-height   : 3.2rem;
    border-radius: 50%;
    overflow     : hidden;
}

.social_Icons_wrapper a:not(:last-child) {
    margin-right: 16px;
}

.social_Icons_wrapper a img {
    width: 100%;
}

/* modal start */
.modal .modal_backdrop {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100vw;
    height          : 100vh;
    background-color: rgba(0, 0, 0, .7);
    z-index         : 1040;
}

.modal {
    position     : fixed;
    top          : 0;
    left         : 0;
    z-index      : 1060;
    display   : none;
    width        : 100%;
    height       : 100%;
    overflow-x   : hidden;
    overflow-y   : auto;
    outline      : 0;
}
.modal.show {
    display: block;
}
.modal_dialog {
    position : relative;
    max-width: 115.4rem;
    width    : auto;
    margin   : 2vh auto;
    z-index  : 1060;
}

.modal_dialog_centered {
    display    : flex;
    align-items: center;
    min-height : calc(100% - 4vh);
}

.modal_content {
    width           : 100%;
    background-color: var(--white);
    border-radius   : 1.6rem;
    padding         : 6.4rem;
    position        : relative;
}

.modal_content .row .left_col {
    flex     : 0 0 60%;
    max-width: 60%;

}

.modal_content .row .right_col {
    flex     : 0 0 40%;
    max-width: 40%;

}

.modal_content .left_inner {
    max-width: 38.5rem;
}

.modal_content h1 {
    font-weight   : 800;
    font-size     : 5.6rem;
    line-height   : 5.8rem;
    text-transform: uppercase;
    margin-bottom : 6.8rem;
}

.modal_content .button_box a:not(:last-of-type) {
    margin-bottom: 2.4rem;
}

.modal_content .button_box a {
    display       : inline-block;
    font-family   : var(--rubik);
    font-weight   : 600;
    font-size     : 1.6rem;
    line-height   : 1.9rem;
    color         : var(--black);
    text-transform: uppercase;
    text-align    : center;
    padding       : 2.6rem;
    width         : 100%;
    border-radius : 5rem;
}

.modal_content .button_box a img {
    width       : 2.4rem;
    height      : 2.4rem;
    margin-right: 1rem;
}

.modal_content .button_box a.msn {
    border-style      : solid;
    border-image-slice: 1;
    border-width      : 2px;

    border-image-source: linear-gradient(221deg, #FF7061 -3.34%, #D043BF 20.65%, #A936F2 44.63%, #6A56FF 69.61%, #0993FF 92.59%);
    border-image-source: -webkit-linear-gradient(221deg, #FF7061 -3.34%, #D043BF 20.65%, #A936F2 44.63%, #6A56FF 69.61%, #0993FF 92.59%);

    /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d) */
}

.modal_content .button_box a.call {
    border: 2px solid black;
}

.modal_content form {
    border       : 1px solid #bdbdbd;
    border-radius: 1.2rem;
    padding      : 2.4rem;
}

.modal_content form .btn {
    width: 100%;
}

.modal_content .btn_close {
    position: absolute;
    top     : -7rem;
    right   : 0;
    cursor: pointer;
    z-index: 1;
}