@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import './ak-robat-fonts.css';

:root {
    --akrobat: 'Akrobat', sans-serif;
    --rubik  : 'Rubik', sans-serif;
    --white  : #ffffff;
    --black  : #181818;
    --gray   : #C2C2C2;
}

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family   : var(--akrobat);
    font-weight   : 400;
    font-size     : 1.6rem;
    line-height   : 2.4rem;
    letter-spacing: -0.02em;
    color         : var(--black);
}

a,
a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    padding   : 0;
}

button {
    border          : 0;
    background-color: transparent;
    outline         : none;
}

button:focus,
button:focus-visible {
    box-shadow: none;
    outline   : none;
}

img,
svg {
    vertical-align: middle;
}

/* owl nav */
.owl-carousel .owl-nav button:not(:last-of-type) {
    margin-right: 1.6rem;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    border: 1px solid #ACACAC;
}

/* owl dots */
.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 7.2rem;
}
.owl-carousel button.owl-dot:not(:last-of-type) {
    margin-right: .8rem;
}
.owl-carousel button.owl-dot {
    width           : 2.2rem;
    height          : 2.2rem;
    background-color: transparent;
    border-radius   : 50%;

    display        : inline-flex;
    justify-content: center;
    align-items    : center;
    transition     : border .5s ease-in-out;
}

.owl-carousel button.owl-dot.active {
    border: 1px solid var(--black);
}

.owl-carousel button.owl-dot span {
    width           : 1.4rem;
    height          : 1.4rem;
    background-color: #D8D8D8;
    border-radius   : 50%;
    transition     : border .5s ease-in-out;
}
.owl-carousel button.owl-dot.active span {
    background-color: var(--black);
}

.owl-dot span {
    display: inline-block;
}

.row {
    display  : flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1400px;
    width    : 100%;
    margin   : 0 auto;
}

.section_header {
    margin-bottom: 8.8rem;
}

.section_title {
    font-weight   : 800;
    font-size     : 6.8rem;
    line-height   : 6.4rem;
    text-transform: uppercase;
}

.section_title span {
    color: var(--gray);
}

.btn {
    font-family   : var(--rubik);
    font-weight   : 600;
    font-size     : 1.6rem;
    line-height   : 1.9rem;
    text-transform: uppercase;
    border-radius : 5rem;
    border        : 2px solid #B0B0B0;
    transition    : all .3s ease-in-out;

    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 2.4rem 4rem;
}

.btn:hover {
    color           : var(--white);
    background-color: var(--black);
    border          : 2px solid var(--black);
}

.btn.black {
    color           : var(--white);
    background-color: var(--black);
    border          : 2px solid var(--black);
}

.btn.black:hover {
    color           : var(--black);
    background-color: transparent;
    border          : 2px solid var(--gray);
}

.btn img {
    margin-right: 1rem;
    transition  : all .3s ease-in-out;
}

.btn:hover img {
    filter: grayscale(0) invert(1);
}

/* fixed button */
.fixed_button {
    position: fixed;
    right   : 6.25%;
    bottom  : 5vh;
}


/* NAV START */
nav {
    padding      : 2.2rem 6.25%;
    border-bottom: 1px solid #D9D9D9;
}

nav .container_fluid {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.navbar_wrapper>ul {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
}

.navbar_wrapper li:not(:last-of-type) {
    margin-right: 8rem;
}

.navbar_wrapper .link {
    display       : inline-block;
    position      : relative;
    font-family   : var(--rubik);
    font-weight   : 400;
    font-size     : 1.6rem;
    line-height   : 1.9rem;
    color         : var(--black);
    text-transform: uppercase;
}

/* hero section  */
.hero_section {
    padding: 8.2rem 0;
}

.hero_section .row>* {
    flex     : 0 0 50%;
    max-width: 50%;
}

.hero_section .content_wrapper {
    height         : 100%;
    max-width      : 50.8rem;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;
}

.hero_section .content_wrapper h1 {
    font-weight   : 800;
    font-size     : 8.0rem;
    line-height   : 7.4rem;
    text-transform: uppercase;
    margin-bottom : 4.8rem;
}

.hero_section .content_wrapper h1 span {
    color: var(--gray);
}

.hero_section .image_wrapper {
    height    : 100%;
    text-align: right;
}

.hero_section .image_wrapper img {
    max-width: 60.4rem;
}

/* services sectoin */
.services_section {
    padding: 13.8rem 11.6rem;
}

.services_section.bg {
    background-color: #F8F8F8;
}

.services_section .row {
    margin-top  : -6.6rem;
    margin-left : -1.6rem;
    margin-right: -1.6rem;
}

.services_section .row>* {
    flex         : 0 0 33.33333333%;
    max-width    : 33.33333333%;
    padding-top  : 6.6rem;
    padding-left : 1.6rem;
    padding-right: 1.6rem;
}

.services_section .content_wrapper .icon {
    width        : 10rem;
    height       : 10rem;
    background   : #F1F1F1;
    border-radius: 8px;

    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-bottom  : 1.6rem;
}

.services_section .content_wrapper .icon>img {
    max-width: 5.5rem;
    width    : 100%;
}

.services_section .content_wrapper h4 {
    font-weight: 700;
    font-size  : 3.2rem;
    line-height: 3.4rem;

    max-width: 33.5rem;
}

/* testmonial section */
.testimonial {
    padding: 12.2rem 0 8.2rem;
    position: relative;
}

.testimonial .card {
    background   : rgba(255, 255, 255, 0.9);
    border       : 1px solid #E1E1E1;
    border-radius: .8rem;
    position     : relative;
    padding      : 8.8rem 4rem 4rem;
}

.testimonial .card h2 {
    font-weight   : 800;
    font-size     : 3.2rem;
    line-height   : 3.8rem;
    text-transform: uppercase;
    max-width     : 33.4rem;
    min-height    : 30rem;
}

.testimonial .card>img {
    position: absolute;
    top     : 1.5rem;
    right   : 2.1rem;
    width   : 9.4rem;
}

.testimonial .card_footer {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;

    border-top : 1px solid #E1E1E1;
    padding-top: 3.2rem;
}

.testimonial .card_footer .thumb {
    flex        : 0 0 5.6rem;
    margin-right: 1.6rem;
}

.testimonial .card_footer .thumb>img {
    width        : 5.6rem;
    height       : 5.6rem;
    border-radius: 50%;
}

.testimonial .card_footer h5,
.testimonial .card_footer p {
    font-family   : var(--rubik);
    font-size     : 1.6rem;
    line-height   : 1.9rem;
    text-transform: uppercase;
}

.testimonial .card_footer h5 {
    font-weight  : 500;
    margin-bottom: .7rem;
}

.testimonial .card_footer p {
    font-weight: 400;
    color      : #898989;
}

.testimonial .owl-carousel .owl-nav {
    position: absolute;
    top: -15rem;
    right: 0;
}

/* get started with us right now */
.gswurn .content_wrapper {
    background-color: var(--black);
    color           : var(--white);
    position        : relative;
    border-radius   : 1.6rem;
    padding         : 14.8rem 4.8rem;
}

.gswurn .inner_content {
    max-width: 52.5rem;
}

.gswurn .content_wrapper h1 {
    margin-bottom: 4rem;
}

.gswurn .content_wrapper .btn {
    color: var(--white);
}

.gswurn .content_wrapper .btn:hover {
    background-color: var(--white);
    color           : var(--black);
}

.gswurn .content_wrapper img.canva,
.gswurn .content_wrapper img.round,
.gswurn .content_wrapper img.blob {
    position: absolute;
}

.gswurn .content_wrapper img.round {
    top  : 10.5rem;
    right: 46.4rem;
}

.gswurn .content_wrapper img.blob {
    top  : 7.8rem;
    right: 4.9rem;
}

.gswurn .content_wrapper img.canva {
    right                    : 2.6rem;
    bottom                   : -2.6rem;
    max-width                : 66rem;
    /* transform             : rotate(0); */
    animation-name           : rotate-4;
    animation-duration       : 2.5s;
    animation-direction      : alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes rotate-4 {
    0% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(-4deg);
    }
}

/* our cool projects */
.col_proj_section {
    padding: 13.8rem 0;
}

.col_proj_section .row {
    margin-left : -1.2rem;
    margin-right: -1.2rem;
}

.col_proj_section .row>* {
    flex         : 0 0 50%;
    max-width    : 50%;
    padding-left : 1.2rem;
    padding-right: 1.2rem;
}

.col_proj_section .content_wrapper {
    border-radius: 1.6rem;
    overflow     : hidden;
    position     : relative;
}

.col_proj_section .inner_content {
    max-width: 39.3rem;
    position : absolute;
    left     : 5.6rem;
    bottom   : 5.3rem;
    color    : var(--white);
}

.col_proj_section .inner_content h2 {
    font-weight  : 800;
    font-size    : 4.0rem;
    line-height  : 4.2rem;
    color        : inherit;
    margin-bottom: 4rem;
}

.col_proj_section .inner_content a {
    font-family   : var(--rubik);
    font-weight   : 600;
    font-size     : 1.6rem;
    line-height   : 1.9rem;
    text-transform: uppercase;
    color         : #797979;
    border-bottom : 1px solid #797979;
    transition    : all .5s ease-in-out;
    padding-bottom: .8rem;
}

.col_proj_section .inner_content a:hover {
    color        : var(--white);
    border-bottom: 1px solid var(--white);
}

.col_proj_section .inner_content a svg,
.col_proj_section .inner_content a svg path {
    transition: all .5s ease-in-out;
}

.col_proj_section .inner_content a:hover svg {
    transform: rotate(45deg);
}

.col_proj_section .inner_content a:hover svg path {
    fill: var(--white);
}