@media (max-width: 1679.98px) {}

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
    /* footer */
    .contact_info_wrapper ul {
        display: block;
    }

    .contact_info_wrapper li {
        justify-content: flex-start;
    }

    .contact_info_wrapper li:not(:last-child) {
        margin-bottom: 12px;
        margin-right : 0;
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
    /* footer */
    .footer {
        padding: 12px 0;
    }

    .contact_info_wrapper p {
        font-size: 12px;
    }

    .social_Icons_wrapper {
        flex-direction: column;
    }

    .social_Icons_wrapper a {
        max-width : 22px;
        max-height: 22px;
    }

    .social_Icons_wrapper a:not(:last-child) {
        margin-bottom: 4px;
        margin-right : 0;
    }

    .contact_info_wrapper img {
        max-width: 12px;
    }
}